<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title> Homesafe Logout </title>
	<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.8.js"></script>
	<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.8.min.js"></script>
	<link rel ="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
	<div class="logout">
		<img src="static/img/logo.jpg" alt="logo"/>
		<h1> HomeSafe Logout </h1>
        <p> You have Logged Out </p>
	</div>
</body>
